node_modules
tournament
read_collection
.env
config.json
package-lock.json
eng.traineddata
res
media
log
package.json
[start].bat
package.json
commands/Owner Commands/dropDatabase/dropDatabase.js
\[start\].bat
